DWLM/Eval1/Tema2-XSD/Tareas/Tarefa2/tarefa2a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Ciclo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Nome" type="xs:string" />
                <xs:element name="Modulo" type="xs:string" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="familia" type="xs:string" />
            <xs:attribute name="tipo" type="xs:string" />
        </xs:complexType>
    </xs:element>
</xs:schema>